# Use Taobao mirror for Electron
electron_mirror=https://npmmirror.com/mirrors/electron/

# Use Taobao mirror for Node.js binaries
disturl=https://npmmirror.com/mirrors/node/

# Use Taobao registry
registry=https://registry.npmmirror.com
